.cardGrid {
    columns: 1;
    column-gap: 1rem;
    padding: 1rem 0;
}

.cardGrid * {
    break-inside: avoid;
}

@media (min-width: 768px) {
    .cardGrid {
        columns: 3;
    }
}

@media (min-width: 1024px) {
    .cardGrid {
        columns: 4;
    }
}
@media (min-width: 1440px) {
    .cardGrid {
        columns: 6;
    }
}
@media (min-width: 1920px) {
    .cardGrid {
        columns: 8;
    }
}