html {
  --gray-50: #fff;
  --gray-75: #fdfdfd;
  --gray-100: #f8f8f8;
  --gray-200: #e6e6e6;
  --gray-300: #d5d5d5;
  --gray-400: #b1b1b1;
  --gray-500: #909090;
  --gray-600: #6d6d6d;
  --gray-700: #464646;
  --gray-800: #222;
  --gray-900: #000;
  --red-100: #ffebe7;
  --red-200: #ffddd6;
  --red-300: #ffcdc3;
  --red-400: #ffb7a9;
  --red-500: #ff9b88;
  --red-600: #ff7c65;
  --red-700: #f75c46;
  --red-800: #ea3829;
  --red-900: #d31510;
  --red-1000: #b40000;
  --red-1100: #930000;
  --red-1200: #740000;
  --red-1300: #590000;
  --red-1400: #430000;
  --orange-100: #ffeccc;
  --orange-200: #ffdfad;
  --orange-300: #fdd291;
  --orange-400: #ffbb63;
  --orange-500: #ffa037;
  --orange-600: #f68511;
  --orange-700: #e46f00;
  --orange-800: #cb5d00;
  --orange-900: #b14c00;
  --orange-1000: #953d00;
  --orange-1100: #7a2f00;
  --orange-1200: #612300;
  --orange-1300: #491901;
  --orange-1400: #351201;
  --yellow-100: #fbf198;
  --yellow-200: #f8e750;
  --yellow-300: #f8d904;
  --yellow-400: #e8c600;
  --yellow-500: #d7b300;
  --yellow-600: #c49f00;
  --yellow-700: #b08c00;
  --yellow-800: #9b7800;
  --yellow-900: #856600;
  --yellow-1000: #705300;
  --yellow-1100: #5b4300;
  --yellow-1200: #483300;
  --yellow-1300: #362500;
  --yellow-1400: #281a00;
  --chartreuse-100: #dbfc6e;
  --chartreuse-200: #cbf443;
  --chartreuse-300: #bce92a;
  --chartreuse-400: #aad816;
  --chartreuse-500: #98c50a;
  --chartreuse-600: #87b103;
  --chartreuse-700: #769c00;
  --chartreuse-800: #678800;
  --chartreuse-900: #577400;
  --chartreuse-1000: #486000;
  --chartreuse-1100: #3a4d00;
  --chartreuse-1200: #2c3b00;
  --chartreuse-1300: #212c00;
  --chartreuse-1400: #181f00;
  --celery-100: #cdfcbf;
  --celery-200: #aef69d;
  --celery-300: #96ee85;
  --celery-400: #72e06a;
  --celery-500: #4ecf50;
  --celery-600: #27bb36;
  --celery-700: #07a721;
  --celery-800: #009112;
  --celery-900: #007c0f;
  --celery-1000: #00670f;
  --celery-1100: #00530d;
  --celery-1200: #00400a;
  --celery-1300: #003007;
  --celery-1400: #002205;
  --green-100: #cef8e0;
  --green-200: #adf4ce;
  --green-300: #89ecbc;
  --green-400: #67dea8;
  --green-500: #49cc93;
  --green-600: #2fb880;
  --green-700: #15a46e;
  --green-800: #008f5d;
  --green-900: #007a4d;
  --green-1000: #00653e;
  --green-1100: #005132;
  --green-1200: #053f27;
  --green-1300: #0a2e1d;
  --green-1400: #0a2015;
  --seafoam-100: #cef7f3;
  --seafoam-200: #aaf1ea;
  --seafoam-300: #8ce9e2;
  --seafoam-400: #65dad2;
  --seafoam-500: #3fc9c1;
  --seafoam-600: #0fb5ae;
  --seafoam-700: #00a19a;
  --seafoam-800: #008c87;
  --seafoam-900: #007772;
  --seafoam-1000: #00635f;
  --seafoam-1100: #0c4f4c;
  --seafoam-1200: #123c3a;
  --seafoam-1300: #122c2b;
  --seafoam-1400: #0f1f1e;
  --cyan-100: #c5f8ff;
  --cyan-200: #a4f0ff;
  --cyan-300: #88e7fa;
  --cyan-400: #60d8f3;
  --cyan-500: #33c5e8;
  --cyan-600: #12b0da;
  --cyan-700: #019cc8;
  --cyan-800: #0086b4;
  --cyan-900: #00719f;
  --cyan-1000: #005d89;
  --cyan-1100: #004a73;
  --cyan-1200: #00395d;
  --cyan-1300: #002a46;
  --cyan-1400: #001e33;
  --blue-100: #e0f2ff;
  --blue-200: #cae8ff;
  --blue-300: #b5deff;
  --blue-400: #96cefd;
  --blue-500: #78bbfa;
  --blue-600: #59a7f6;
  --blue-700: #3892f3;
  --blue-800: #147af3;
  --blue-900: #0265dc;
  --blue-1000: #0054b6;
  --blue-1100: #004491;
  --blue-1200: #003571;
  --blue-1300: #002754;
  --blue-1400: #001c3c;
  --indigo-100: #edeeff;
  --indigo-200: #e0e2ff;
  --indigo-300: #d3d5ff;
  --indigo-400: #c1c4ff;
  --indigo-500: #acafff;
  --indigo-600: #9599ff;
  --indigo-700: #7e84fc;
  --indigo-800: #686df4;
  --indigo-900: #5258e4;
  --indigo-1000: #4046ca;
  --indigo-1100: #3236a8;
  --indigo-1200: #262986;
  --indigo-1300: #1b1e64;
  --indigo-1400: #141648;
  --purple-100: #f6ebff;
  --purple-200: #edf;
  --purple-300: #e6d0ff;
  --purple-400: #dbbbfe;
  --purple-500: #cca4fd;
  --purple-600: #bd8bfc;
  --purple-700: #ae72f9;
  --purple-800: #9d57f4;
  --purple-900: #893de7;
  --purple-1000: #7326d3;
  --purple-1100: #5d13b7;
  --purple-1200: #470c94;
  --purple-1300: #33106a;
  --purple-1400: #230f49;
  --fuchsia-100: #ffe9fc;
  --fuchsia-200: #ffdafa;
  --fuchsia-300: #fec7f8;
  --fuchsia-400: #fbaef6;
  --fuchsia-500: #f592f3;
  --fuchsia-600: #ed74ed;
  --fuchsia-700: #e055e2;
  --fuchsia-800: #cd3ace;
  --fuchsia-900: #b622b7;
  --fuchsia-1000: #9d039e;
  --fuchsia-1100: #800081;
  --fuchsia-1200: #640664;
  --fuchsia-1300: #470e46;
  --fuchsia-1400: #320d31;
  --magenta-100: #ffeaf1;
  --magenta-200: #ffdce8;
  --magenta-300: #ffcadd;
  --magenta-400: #ffb2ce;
  --magenta-500: #ff95bd;
  --magenta-600: #fa77aa;
  --magenta-700: #ef5a98;
  --magenta-800: #de3d82;
  --magenta-900: #c82269;
  --magenta-1000: #ad0955;
  --magenta-1100: #8e0045;
  --magenta-1200: #700037;
  --magenta-1300: #54032a;
  --magenta-1400: #3c061d;
}
/* Dark mode media querty */
@media (prefers-color-scheme: dark) {
  html {
    --gray-50: #000;
    --gray-75: #0e0e0e;
    --gray-100: #1d1d1d;
    --gray-200: #303030;
    --gray-300: #4b4b4b;
    --gray-400: #6a6a6a;
    --gray-500: #8d8d8d;
    --gray-600: #b0b0b0;
    --gray-700: #d0d0d0;
    --gray-800: #ebebeb;
    --gray-900: #fff;
    --red-100: #570000;
    --red-200: #6e0000;
    --red-300: #8a0000;
    --red-400: #a70000;
    --red-500: #c40706;
    --red-600: #dd2118;
    --red-700: #ee4331;
    --red-800: #f9634c;
    --red-900: #ff816b;
    --red-1000: #ff9e8c;
    --red-1100: #ffb7a9;
    --red-1200: #ffcdc3;
    --red-1300: #ffdfd9;
    --red-1400: #ffedea;
    --orange-100: #481801;
    --orange-200: #5c2000;
    --orange-300: #732b00;
    --orange-400: #8a3700;
    --orange-500: #a24400;
    --orange-600: #ba5200;
    --orange-700: #d26200;
    --orange-800: #e87400;
    --orange-900: #f98917;
    --orange-1000: #ffa23b;
    --orange-1100: #ffbc66;
    --orange-1200: #fdd291;
    --orange-1300: #ffe2b5;
    --orange-1400: #ffefd5;
    --yellow-100: #352400;
    --yellow-200: #442f00;
    --yellow-300: #563e00;
    --yellow-400: #674d00;
    --yellow-500: #7a5c00;
    --yellow-600: #8d6c00;
    --yellow-700: #a17e00;
    --yellow-800: #b49000;
    --yellow-900: #c7a200;
    --yellow-1000: #d8b500;
    --yellow-1100: #e9c700;
    --yellow-1200: #f7d804;
    --yellow-1300: #f9e961;
    --yellow-1400: #fcf3aa;
    --chartreuse-100: #202b00;
    --chartreuse-200: #2a3800;
    --chartreuse-300: #364800;
    --chartreuse-400: #425800;
    --chartreuse-500: #4f6900;
    --chartreuse-600: #5d7b00;
    --chartreuse-700: #6b8e00;
    --chartreuse-800: #7aa100;
    --chartreuse-900: #8ab403;
    --chartreuse-1000: #9ac60b;
    --chartreuse-1100: #aad816;
    --chartreuse-1200: #bbe829;
    --chartreuse-1300: #cdf648;
    --chartreuse-1400: #e1fd84;
    --celery-100: #002f07;
    --celery-200: #003d09;
    --celery-300: #004d0c;
    --celery-400: #005f0f;
    --celery-500: #00710f;
    --celery-600: #00840f;
    --celery-700: #009714;
    --celery-800: #0dab25;
    --celery-900: #2dbf3a;
    --celery-1000: #50d052;
    --celery-1100: #73e06b;
    --celery-1200: #93ed83;
    --celery-1300: #b4f7a2;
    --celery-1400: #d5fcca;
    --green-100: #0a2c1c;
    --green-200: #073b24;
    --green-300: #004c2e;
    --green-400: #005d39;
    --green-500: #006f45;
    --green-600: #008252;
    --green-700: #009562;
    --green-800: #1ca872;
    --green-900: #34bb84;
    --green-1000: #4bcd95;
    --green-1100: #67dea8;
    --green-1200: #89ecbc;
    --green-1300: #b1f4d1;
    --green-1400: #d6f9e4;
    --seafoam-100: #122b2a;
    --seafoam-200: #133937;
    --seafoam-300: #104946;
    --seafoam-400: #035b58;
    --seafoam-500: #006c68;
    --seafoam-600: #007f79;
    --seafoam-700: #00928c;
    --seafoam-800: #00a59f;
    --seafoam-900: #1ab9b2;
    --seafoam-1000: #42cac3;
    --seafoam-1100: #66dad3;
    --seafoam-1200: #8be8e1;
    --seafoam-1300: #b3f2ed;
    --seafoam-1400: #d7f8f4;
    --cyan-100: #002944;
    --cyan-200: #003658;
    --cyan-300: #00456c;
    --cyan-400: #005680;
    --cyan-500: #006793;
    --cyan-600: #0079a7;
    --cyan-700: #008cba;
    --cyan-800: #04a0cd;
    --cyan-900: #17b4dd;
    --cyan-1000: #39c7ea;
    --cyan-1100: #60d8f3;
    --cyan-1200: #86e6fa;
    --cyan-1300: #aaf2ff;
    --cyan-1400: #cef9ff;
    --blue-100: #002651;
    --blue-200: #00326a;
    --blue-300: #004087;
    --blue-400: #004ea6;
    --blue-500: #005cc8;
    --blue-600: #066ce7;
    --blue-700: #1d80f5;
    --blue-800: #4096f3;
    --blue-900: #5eaaf7;
    --blue-1000: #7cbdfa;
    --blue-1100: #98cefd;
    --blue-1200: #b3defe;
    --blue-1300: #ceeaff;
    --blue-1400: #e3f3ff;
    --indigo-100: #1a1d61;
    --indigo-200: #23277d;
    --indigo-300: #2e329e;
    --indigo-400: #3a3fbd;
    --indigo-500: #494ed8;
    --indigo-600: #5a60eb;
    --indigo-700: #6e73f6;
    --indigo-800: #8488fd;
    --indigo-900: #999dff;
    --indigo-1000: #aeb1ff;
    --indigo-1100: #c2c4ff;
    --indigo-1200: #d4d5ff;
    --indigo-1300: #e3e4ff;
    --indigo-1400: #f0f0ff;
    --purple-100: #321068;
    --purple-200: #430d8c;
    --purple-300: #5610ad;
    --purple-400: #6a1dc8;
    --purple-500: #7e31de;
    --purple-600: #9146ec;
    --purple-700: #a25ef6;
    --purple-800: #b277fa;
    --purple-900: #c08ffc;
    --purple-1000: #cea6fd;
    --purple-1100: #dbbcfe;
    --purple-1200: #e6cfff;
    --purple-1300: #f0e0ff;
    --purple-1400: #f8edff;
    --fuchsia-100: #460e44;
    --fuchsia-200: #5d095c;
    --fuchsia-300: #780078;
    --fuchsia-400: #920093;
    --fuchsia-500: #a913aa;
    --fuchsia-600: #bf2bbf;
    --fuchsia-700: #d341d5;
    --fuchsia-800: #e45be5;
    --fuchsia-900: #ef78ee;
    --fuchsia-1000: #f695f3;
    --fuchsia-1100: #fbaff6;
    --fuchsia-1200: #fec7f8;
    --fuchsia-1300: #ffdcfa;
    --fuchsia-1400: #ffebfc;
    --magenta-100: #530329;
    --magenta-200: #6a0034;
    --magenta-300: #850041;
    --magenta-400: #a1004e;
    --magenta-500: #ba165d;
    --magenta-600: #d12b72;
    --magenta-700: #e34589;
    --magenta-800: #f1619c;
    --magenta-900: #fc7cad;
    --magenta-1000: #ff98bf;
    --magenta-1100: #ffb3cf;
    --magenta-1200: #ffcadd;
    --magenta-1300: #ffdde9;
    --magenta-1400: #ffecf3;
  }
}
